useDynLib(odham, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(fun_maxmin)
export(fun_threshold)
export(fun_T_test)
export(fun_maxmin_new)
export(fun_threshold_new)
export(fun_T_test_new)
export(test)